# Custom Directory Index.
	DirectoryIndex index.php

# 404 Error handling	
	errordocument 404 /projectCenter/404.php

# No acces to directory folders
	Options -Indexes
	IndexIgnore *

	Options +FollowSymLinks
	RewriteEngine On
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule ^.*$ ./index.php

# secure htaccess file
	<Files .htaccess>
		order allow,deny
		deny from all
	</Files>