
.btn-edit {
  padding: 2px 6px;
  &:hover {
    color: $primary-green;
  }
}

.btn-update {
  background-color: $alt-primary;
  color: $primary-white;
  text-transform: uppercase;
  &:hover {
    background-color: darken($alt-primary, 15%);
  }
}

.btn-outline {
  background-color: transparent;
  border: 1px solid $primary-white;
  color: white;
  &:hover {
    background-color: $primary-white;
    border: 1px solid $light-grey;
  }
}

.btn-to-home {
  text-transform: uppercase;
  margin-bottom: 20px;
  i {
    margin-top: 2px;
  }
}

.btn-full-multi {
  display: block;
  border-radius: 0;
  width: 100%;
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;  
}

.btn-circle {
  border-radius: 50%!important;
}

.btn-create {
  padding: 10px 75px;
  font-size: 14px;
  line-height: 1.33333;
  text-transform: uppercase;
  i {
    margin-top: 3px;
  }
}

.btn-links {
  padding: 14px 12px;
}


.btn-blue {
  background-color: $ocean-blue;
  border: 1px solid $ocean-blue-alt;
  color: $primary-white;
  &:hover {
    background-color: darken($ocean-blue, 15%);
    color: $primary-white;
  }
}

.btn-green {
  background-color: $recycle-green;
  border: 1px solid $recycle-green-alt;
  color: $primary-white;
  &:hover {
    background-color: darken($recycle-green, 15%);
    color: $primary-white;
  }
}

.btn-yellow {
  background-color: $yellow;
  border: 1px solid $yellow-alt;
  color: $primary-white;
  &:hover {
    background-color: darken($yellow, 15%);
    color: $primary-white;
  }
}

.btn-brown {
  background-color: $poopy-brown;
  border: 1px solid $poopy-brown-alt;
  color: $primary-white;
  &:hover {
    background-color: darken($poopy-brown, 15%);
    color: $primary-white;
  }
}