$primary-grey: #757585;
$secondary-grey: #545162;
$third-grey: #272530;

$third-green: #94E0D9;
$secondary-green: #64DBCB;
$primary-green: #3BC2B0;

$alt-green-1: #174d46;
$alt-green-2: #113a34;
$alt-green-3: #0b2623;


$alt-grey: #333;
$alt-lgrey: #525059;
$light-grey: #C7C8CB;


//#1b1921
//#17161c
//#131218

$primary-white: #FFFFFF;
$primary-black: #000000;

$bg-grey: #2B2F3E;

$text-light: #e9e9ea;
$text-sublight: #bebdc0;

$secondary-grey-hover: darker($secondary-grey, 10%);

$alt-primary: #398756;

$cream-white: #E6E6E6;

$poopy-brown: #875639;