// HOME

.accordion-icons {
	.panel {
		.panel-heading {
	    .indicator {
	      color: $poopy-brown;
	      color: $alt-primary;
  	  }
			&.dashboard {
				// background-color: $alt-primary;
				background-color: $primary-green;
			}
		}
		.project-lists {
			// background-color: $text-light;
			button {
				background-color: $text-light;
				border-bottom: 1px solid $text-sublight;
			    &:hover {
				    background-color: $primary-green;
				    color: white;
 				}
 				i.fa-chevron-circle-right {
 					font-size: 18px;
 				}
 				.title {
 					width: 90%;
	 				p {
	 					color: $alt-grey;
	 					font-size: 14px;
	 					font-weight: 600;
	 				}
	 				span {
	 					color: $alt-lgrey;
	 					font-size: 11px;
	 				}
	 			}
			}
			.proj-false {
				background-color: $text-light;
				text-align: center;
				&:hover {
				    background-color: $primary-green;
				    color: white;
 				}
			}
		}	
	}
	
}

thead th {
	text-align: center;
}