nav {
	//background-color: $primary-green;
	background-color: $alt-primary;
	.navbar-header {
		a.navbar-brand {
			label {
				color: $alt-grey;
				color: $cream-white;
			}
		}
		.navbar-toggle {
			i {
				font-size: 25px;
			}
		}
	
	}
	.slide-menu {
	    display: none;
	    color: blue;
	    width: 80%;
	    position: absolute;
	    right: -1px;
	    z-index: 1000;
	}
	
	// .fa-cog {
	// 	font-size: 24px;
	// 	vertical-align: middle;
	// 	color: #000000;
	// 	text-decoration: none;
	// 	width: 30px;
	// 	text-align: center;
	// 	:hover {
	// 		color: #b1b1b1;
	// 	}		
	// }
}

.navbar {
		margin-bottom: 0;
	}

.sidebar {
	.profile img {
		max-width: 120px;
		label {
			p {
				font-size: 15px;
			}
			span {
				font-size: 12px;
			}
		}
	}
}